applications/schema/content_0_4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    targetNamespace="http://www.eol.org/transfer/content/0.4"
    xmlns="http://www.eol.org/transfer/content/0.4"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
    xmlns:dwc="http://rs.tdwg.org/dwc/terms/"
    elementFormDefault="qualified"
    version="0.4">
    
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://services.eol.org/schema/xml.xsd"/>
    <xsd:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>
    <xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>
    <xsd:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="http://services.eol.org/schema/w3c_geo.xsd"/>
    <xsd:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="http://rs.tdwg.org/dwc/xsd/tdwg_dwcterms.xsd"/>
    
    <xsd:element name="response" type="responseType">
    </xsd:element>
    
    <xsd:complexType name="responseType">
        <xsd:sequence>
            <xsd:element name="taxon" type="taxonBaseType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="dataObject" type="dataObjectBaseType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="taxonBaseType">
        <xsd:sequence>
            <xsd:element ref="dc:identifier"/>
            <xsd:element ref="dc:source" minOccurs="0"/>
            <xsd:element ref="dwc:kingdom" minOccurs="0"/>
            <xsd:element ref="dwc:phylum" minOccurs="0"/>
            <xsd:element ref="dwc:class" minOccurs="0"/>
            <xsd:element ref="dwc:order" minOccurs="0"/>
            <xsd:element ref="dwc:family" minOccurs="0"/>
            <xsd:element ref="dwc:genus" minOccurs="0"/>
            <xsd:element ref="dwc:scientificName"/>
            <xsd:element name="dwc:taxonRank" minOccurs="0"/>
            <xsd:element name="commonName" type="languageAwareElementType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="synonym" type="synonymType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="agent" type="agentType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dcterms:created" minOccurs="0"/>
            <xsd:element ref="dcterms:modified" minOccurs="0"/>
            <xsd:element name="reference" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="additionalInformation" type="wildcardType" minOccurs="0"/>
            <xsd:element name="dataObject" type="dataObjectBaseType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="dataObjectBaseType">
        <xsd:sequence>
            
            <xsd:element ref="dc:identifier" minOccurs="0"/>
            
            <xsd:element name="dataType" type="dataTypes">
                <xsd:annotation>
                    <xsd:documentation>Required. Describes the nature of the resource using the DCMI Type vocabulary.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            
            <xsd:element name="mimeType" type="mimeTypes" minOccurs="0"/>
            <xsd:element name="agent" type="agentType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dcterms:created" minOccurs="0"/>
            <xsd:element ref="dcterms:modified" minOccurs="0"/>
            <xsd:element ref="dc:title" minOccurs="0"/>
            <xsd:element ref="dc:language" minOccurs="0"/>
            <xsd:element name="license" type="licenseTypes" minOccurs="0"/>
            <xsd:element ref="dc:rights" minOccurs="0"/>
            <xsd:element ref="dcterms:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dcterms:bibliographicCitation" minOccurs="0"/>
            <xsd:element name="audience" type="audienceTypes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dc:source" minOccurs="0"/>
            <xsd:element name="subject" type="subjectTypes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dc:description" minOccurs="0"/>
            <xsd:element name="mediaURL" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="thumbnailURL" type="xsd:anyURI" minOccurs="0"/>
            <xsd:element name="location" type="languageAwareElementType" minOccurs="0"/>
            <xsd:element ref="geo:Point" minOccurs="0"/>
            <xsd:element name="reference" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="additionalInformation" type="wildcardType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="referenceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="bici" type="xsd:string" use="optional"/>
                <xsd:attribute name="coden" type="xsd:string" use="optional"/>
                <xsd:attribute name="doi" type="xsd:string" use="optional"/>
                <xsd:attribute name="eissn" type="xsd:string" use="optional"/>
                <xsd:attribute name="handle" type="xsd:string" use="optional"/>
                <xsd:attribute name="isbn" type="xsd:string" use="optional"/>
                <xsd:attribute name="issn" type="xsd:string" use="optional"/>
                <xsd:attribute name="lsid" type="xsd:string" use="optional"/>
                <xsd:attribute name="oclc" type="xsd:string" use="optional"/>
                <xsd:attribute name="sici" type="xsd:string" use="optional"/>
                <xsd:attribute name="url" type="xsd:string" use="optional"/>
                <xsd:attribute name="urn" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="synonymType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="relationship" type="synonymRelationTypes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="agentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="homepage" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="logoURL" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="role" type="contentRoleTypes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="languageAwareElementType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute ref="xml:lang" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="wildcardType">
        <xsd:annotation>
            <xsd:documentation>anything can be put in here. Use only when necessary as information in this element may be ignored by consumers</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:simpleType name="contentRoleTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="animator"/>
            <xsd:enumeration value="author"/>
            <xsd:enumeration value="compiler"/>
            <xsd:enumeration value="composer"/>
            <xsd:enumeration value="creator"/>
            <xsd:enumeration value="director"/>
            <xsd:enumeration value="editor"/>
            <xsd:enumeration value="illustrator"/>
            <xsd:enumeration value="photographer"/>
            <xsd:enumeration value="project"/>
            <xsd:enumeration value="publisher"/>
            <xsd:enumeration value="recorder"/>
            <xsd:enumeration value="source"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="licenseTypes">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="not applicable|http://creativecommons.org/licenses/(publicdomain|by|by-nc|by-sa|by-nc-sa)(/[0-9]\.[0-9])?/"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="audienceTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Expert users"/>
            <xsd:enumeration value="General public"/>
            <xsd:enumeration value="Children"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="mimeTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="application/pdf"/>
            <xsd:enumeration value="audio/mpeg"/>
            <xsd:enumeration value="audio/x-ms-wma"/>
            <xsd:enumeration value="audio/x-pn-realaudio"/>
            <xsd:enumeration value="audio/x-realaudio"/>
            <xsd:enumeration value="audio/x-wav"/>
            <xsd:enumeration value="image/bmp"/>
            <xsd:enumeration value="image/gif"/>
            <xsd:enumeration value="image/jpeg"/>
            <xsd:enumeration value="image/png"/>
            <xsd:enumeration value="image/svg+xml"/>
            <xsd:enumeration value="image/tiff"/>
            <xsd:enumeration value="text/html"/>
            <xsd:enumeration value="text/plain"/>
            <xsd:enumeration value="text/richtext"/>
            <xsd:enumeration value="text/rtf"/>
            <xsd:enumeration value="text/xml"/>
            <xsd:enumeration value="video/mp4"/>
            <xsd:enumeration value="video/mpeg"/>
            <xsd:enumeration value="video/quicktime"/>
            <xsd:enumeration value="video/x-flv"/>
            <xsd:enumeration value="video/x-ms-wmv"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="dataTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="http://purl.org/dc/dcmitype/MovingImage"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/Sound"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/StillImage"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/Text"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="subjectTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Associations"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Behaviour"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Biology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Conservation"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#ConservationStatus"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Cyclicity"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Cytology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Description"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#DiagnosticDescription"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Diseases"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Dispersal"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Distribution"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Ecology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Evolution"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#GeneralDescription"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Genetics"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Growth"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Habitat"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Key"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Legislation"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LifeCycle"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LifeExpectancy"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LookAlikes"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Management"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Migration"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#MolecularBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Morphology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Physiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#PopulationBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Procedures"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Reproduction"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#RiskStatement"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Size"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#TaxonBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Threats"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Trends"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#TrophicStrategy"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Uses"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="synonymRelationTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ambiguous synonym"/>
            <xsd:enumeration value="anamorph"/>
            <xsd:enumeration value="basionym"/>
            <xsd:enumeration value="heterotypic synonym"/>
            <xsd:enumeration value="homotypic synonym"/>
            <xsd:enumeration value="junior synonym"/>
            <xsd:enumeration value="misapplied name"/>
            <xsd:enumeration value="nomenclatural synonym"/>
            <xsd:enumeration value="objective synonym"/>
            <xsd:enumeration value="senior synonym"/>
            <xsd:enumeration value="subjective synonym"/>
            <xsd:enumeration value="synonym"/>
            <xsd:enumeration value="teleomorph"/>
            <xsd:enumeration value="unavailable name"/>
            <xsd:enumeration value="valid name"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="rankTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="kingdom"/>
            <xsd:enumeration value="subkingdom"/>
            <xsd:enumeration value="division"/>
            <xsd:enumeration value="phylum"/>
            <xsd:enumeration value="subdivision"/>
            <xsd:enumeration value="subphylum"/>
            <xsd:enumeration value="class"/>
            <xsd:enumeration value="subclass"/>
            <xsd:enumeration value="order"/>
            <xsd:enumeration value="suborder"/>
            <xsd:enumeration value="family"/>
            <xsd:enumeration value="subfamily"/>
            <xsd:enumeration value="tribe"/>
            <xsd:enumeration value="subtribe"/>
            <xsd:enumeration value="genus"/>
            <xsd:enumeration value="subgenus"/>
            <xsd:enumeration value="section"/>
            <xsd:enumeration value="subsection"/>
            <xsd:enumeration value="series"/>
            <xsd:enumeration value="subseries"/>
            <xsd:enumeration value="species"/>
            <xsd:enumeration value="subspecies"/>
            <xsd:enumeration value="variety"/>
            <xsd:enumeration value="subvariety"/>
            <xsd:enumeration value="form"/>
            <xsd:enumeration value="subform"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>