applications/schema/content_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.eol.org/transfer/content/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:dwc="http://rs.tdwg.org/dwc/terms/" targetNamespace="http://www.eol.org/transfer/content/1.0" elementFormDefault="qualified" version="1.0">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://services.eol.org/schema/xml.xsd"/>
    <xsd:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>
    <xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dcterms.xsd"/>
    <xsd:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="http://services.eol.org/schema/w3c_geo.xsd"/>
    <xsd:import namespace="http://rs.tdwg.org/dwc/terms/" schemaLocation="http://rs.tdwg.org/dwc/xsd/tdwg_dwc_class_terms.xsd"/>
    
    <xsd:element name="response" type="responseType"/>
    
    <xsd:complexType name="responseType">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="taxonConcept" type="taxonConceptType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="taxon" type="dwcTaxonType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="dataObject" type="dataObjectBaseType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="taxonConceptType">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element ref="dwc:anyIdentifier"/>
            <xsd:element ref="dwc:anyTaxonTerm"/>
            <xsd:element ref="dwc:anyRecordLevelTerm"/>
            <xsd:element name="taxonConceptID" type="xsd:int"/>
            <xsd:element name="dataObjectID" type="xsd:string"/>
            <xsd:element ref="dc:source"/>
            <xsd:element name="agent" type="agentType"/>
            <xsd:element ref="dcterms:created"/>
            <xsd:element ref="dcterms:modified"/>
            <xsd:element name="reference" type="referenceType"/>
            <xsd:element name="additionalInformation" type="wildcardType"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="dwcTaxonType">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element ref="dwc:anyIdentifier"/>
            <xsd:element ref="dwc:anyTaxonTerm"/>
            <xsd:element ref="dwc:anyRecordLevelTerm"/>
            <xsd:element name="dataObjectID" type="xsd:string"/>
            <xsd:element ref="dc:source"/>
            <xsd:element name="agent" type="agentType"/>
            <xsd:element ref="dcterms:created"/>
            <xsd:element ref="dcterms:modified"/>
            <xsd:element name="reference" type="referenceType"/>
            <xsd:element name="additionalInformation" type="wildcardType"/>
        </xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="dataObjectBaseType">
        <xsd:sequence>
            <xsd:element name="dataObjectID" type="xsd:string" minOccurs="0"/>
            <xsd:element ref="dwc:taxonID" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="taxonConceptID" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="dataType" type="dataTypes"/>
            <xsd:element name="mimeType" type="mimeTypes" minOccurs="0"/>
            <xsd:element name="agent" type="agentType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dcterms:created" minOccurs="0"/>
            <xsd:element ref="dcterms:modified" minOccurs="0"/>
            <xsd:element ref="dc:title" minOccurs="0"/>
            <xsd:element ref="dc:language" minOccurs="0"/>
            <xsd:element name="license" type="licenseTypes" minOccurs="0"/>
            <xsd:element ref="dc:rights" minOccurs="0"/>
            <xsd:element ref="dcterms:rightsHolder" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dcterms:bibliographicCitation" minOccurs="0"/>
            <xsd:element ref="dc:source" minOccurs="0"/>
            <xsd:element name="subject" type="subjectTypes" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="dc:description" minOccurs="0"/>
            <xsd:element name="mediaURL" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="thumbnailURL" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="location" type="languageAwareElementType" minOccurs="0"/>
            <xsd:element ref="geo:Point" minOccurs="0"/>
            <xsd:element name="reference" type="referenceType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="additionalInformation" type="wildcardType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="referenceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="bici" type="xsd:string" use="optional"/>
                <xsd:attribute name="coden" type="xsd:string" use="optional"/>
                <xsd:attribute name="doi" type="xsd:string" use="optional"/>
                <xsd:attribute name="eissn" type="xsd:string" use="optional"/>
                <xsd:attribute name="handle" type="xsd:string" use="optional"/>
                <xsd:attribute name="isbn" type="xsd:string" use="optional"/>
                <xsd:attribute name="issn" type="xsd:string" use="optional"/>
                <xsd:attribute name="lsid" type="xsd:string" use="optional"/>
                <xsd:attribute name="oclc" type="xsd:string" use="optional"/>
                <xsd:attribute name="sici" type="xsd:string" use="optional"/>
                <xsd:attribute name="url" type="xsd:string" use="optional"/>
                <xsd:attribute name="urn" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="agentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="homepage" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="logoURL" type="xsd:anyURI" use="optional"/>
                <xsd:attribute name="role" type="contentRoleTypes" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="languageAwareElementType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute ref="xml:lang" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="wildcardType">
        <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:anyAttribute namespace="##any" processContents="lax"/>
    </xsd:complexType>
    
    <xsd:simpleType name="contentRoleTypes">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="animator"/>
            <xsd:enumeration value="author"/>
            <xsd:enumeration value="compiler"/>
            <xsd:enumeration value="composer"/>
            <xsd:enumeration value="creator"/>
            <xsd:enumeration value="director"/>
            <xsd:enumeration value="editor"/>
            <xsd:enumeration value="illustrator"/>
            <xsd:enumeration value="photographer"/>
            <xsd:enumeration value="project"/>
            <xsd:enumeration value="publisher"/>
            <xsd:enumeration value="recorder"/>
            <xsd:enumeration value="source"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="licenseTypes">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="not applicable|no known copyright restrictions|public domain|http://www.flickr.com/commons/usage/|http://creativecommons.org/publicdomain/zero/1.0/|http://creativecommons.org/licenses/(publicdomain|by|by-nc|by-sa|by-nc-sa)(/[0-9]\.[0-9])?/"/>
        </xsd:restriction>
    </xsd:simpleType>
 
    <xsd:simpleType name="mimeTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="application/pdf"/>
            <xsd:enumeration value="application/ogg"/>
            <xsd:enumeration value="audio/mpeg"/>
            <xsd:enumeration value="audio/x-ms-wma"/>
            <xsd:enumeration value="audio/x-pn-realaudio"/>
            <xsd:enumeration value="audio/x-realaudio"/>
            <xsd:enumeration value="audio/x-wav"/>
            <xsd:enumeration value="image/bmp"/>
            <xsd:enumeration value="image/gif"/>
            <xsd:enumeration value="image/jpeg"/>
            <xsd:enumeration value="image/png"/>
            <xsd:enumeration value="image/svg+xml"/>
            <xsd:enumeration value="image/tiff"/>
            <xsd:enumeration value="text/html"/>
            <xsd:enumeration value="text/plain"/>
            <xsd:enumeration value="text/richtext"/>
            <xsd:enumeration value="text/rtf"/>
            <xsd:enumeration value="text/xml"/>
            <xsd:enumeration value="video/mp4"/>
            <xsd:enumeration value="video/mpeg"/>
            <xsd:enumeration value="video/quicktime"/>
            <xsd:enumeration value="video/x-flv"/>
            <xsd:enumeration value="video/x-ms-wmv"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="dataTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="http://purl.org/dc/dcmitype/MovingImage"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/Sound"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/StillImage"/>
            <xsd:enumeration value="http://purl.org/dc/dcmitype/Text"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:simpleType name="subjectTypes">
        <xsd:restriction base="xsd:anyURI">
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Associations"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Behaviour"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Biology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Conservation"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#ConservationStatus"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Cyclicity"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Cytology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Description"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#DiagnosticDescription"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Diseases"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Dispersal"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Distribution"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Ecology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Evolution"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#GeneralDescription"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Genetics"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Growth"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Habitat"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Key"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Legislation"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LifeCycle"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LifeExpectancy"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#LookAlikes"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Management"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Migration"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#MolecularBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Morphology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Physiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#PopulationBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Procedures"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Reproduction"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#RiskStatement"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Size"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#TaxonBiology"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Threats"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Trends"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#TrophicStrategy"/>
            <xsd:enumeration value="http://rs.tdwg.org/ontology/voc/SPMInfoItems#Uses"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
